<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Minutos</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.connection.password">toor</property>
    <mapping resource="model/Gasto.hbm.xml"/>
    <mapping resource="model/Pago.hbm.xml"/>
    <mapping resource="model/TipoPago.hbm.xml"/>
    <mapping resource="model/Rol.hbm.xml"/>
    <mapping resource="model/TipoGasto.hbm.xml"/>
    <mapping resource="model/Sucursal.hbm.xml"/>
    <mapping resource="model/Tercero.hbm.xml"/>
    <mapping resource="model/EstadoLinea.hbm.xml"/>
    <mapping resource="model/VentaLinea.hbm.xml"/>
    <mapping resource="model/Empresa.hbm.xml"/>
    <mapping resource="model/Ciudad.hbm.xml"/>
    <mapping resource="model/SucursalLinea.hbm.xml"/>
    <mapping resource="model/Venta.hbm.xml"/>
    <mapping resource="model/Simcard.hbm.xml"/>
    <mapping resource="model/Operador.hbm.xml"/>
    <mapping resource="model/Departamento.hbm.xml"/>
    <mapping resource="model/SucursalTercero.hbm.xml"/>
    <mapping resource="model/Linea.hbm.xml"/>
    <mapping resource="model/SucursalSimcard.hbm.xml"/>
    <mapping resource="model/Cuentas.hbm.xml"/>
    <mapping resource="model/PlanLinea.hbm.xml"/>
    <mapping resource="model/TerceroVenta.hbm.xml"/>
    <mapping resource="model/Roles.hbm.xml"/>
    <mapping resource="model/Convenio.hbm.xml"/>
    <mapping resource="model/Plan.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
